.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
  background: #ffffff;
  color: #000;
  animation: fadeInPage 1.5s ease;
}

@keyframes fadeInPage {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h1, p {
  margin: 15apx 0;
}
h1{
    font-size: 3em;
}

.animated-btn {
  padding: 12px 30px;
  font-size: 1em;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s;
}

.animated-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
